@import "tailwindcss";
@import "react-inner-image-zoom/lib/styles.min.css";

:root {
  --background: var(--color-white);
  --foreground: var(--color-black);
}

@theme inline {
  --color-background: var(--foreground);
  --color-foreground: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-primary: var(--font-suisse-intl);

  --color-transparent: transparent;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-bricky-brick: #cc4429;
  --color-namara-grey: #7b7b7b;
  --color-moon-veil: #8b9bb1;
  --color-bengala-red: #932d19;
  --color-grenadier: #c24e37;
  --color-tabasco: #a02912;
  --color-unbleached: #fcfaf5;
  --color-blue-shimmer: #b6dce1;
  --color-brilliance: #fdfdfd;
  --color-minor-blue: #b8e0e7;
  --color-aqua-belt: #7dcecc;
  --color-halite-blue: #0a2a45;
  --color-lusty-salmon: #efb4a6;
  --color-army-canvas: #5d7261;
  --color-verve-violet: #934d7d;
  --color-trapped-darkness: #0f1a2c;
  --color-tangerine-flake: #e57c5c;
  --color-bleeding-crimson: #99170f;
  --color-birch-strain: #ddb760;
  --color-tangerine-cream: #ffa386;
  --color-orochimaru: #d9d9d9;

  --spacing-header-height: 140px;
  --spacing-header-height-mobile: 110px;
}

@layer utilities {
  .container {
    max-width: 100%; /* override default */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* custom padding */
    padding-right: 1rem;

    /* Custom breakpoints */
    @media (min-width: 640px) {
      max-width: 640px;
    }
    @media (min-width: 768px) {
      max-width: 768px;
    }
    @media (min-width: 1024px) {
      max-width: 900px; /* custom width */
    }
    @media (min-width: 1280px) {
      max-width: 1100px;
    }
    @media (min-width: 1440px) {
      max-width: 1440px;
    }
    @media (min-width: 1536px) {
      max-width: 1536px;
    }
    @media (min-width: 1600px) {
      max-width: 1600px;
    }
    @media (min-width: 1920px) {
      max-width: 1800px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-black);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-suisse-intl);
}

@keyframes bounce-translate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
}

.animate-bounce-translate {
  animation: bounce-translate 1.8s ease-in-out infinite;
}
